Flask==1.1.1
flask_cors==3.0.8
gunicorn
https://download.pytorch.org/whl/cpu/torch-1.3.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
transformers==4.14.1
scipy==1.4.1
librosa==0.9.1
SpeechRecognition==3.8.1
soundfile==0.10.2