Flask==1.1.1
flask_cors==3.0.8
gunicorn
-f https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.10.1+cpu
torchaudio==0.9.1
transformers==4.14.1
scipy==1.4.1
librosa==0.9.1
SpeechRecognition==3.8.1